
<ul>
    <li><%= cat.name %></li>
    <li><%= cat.sex %></li>
    <li><%= cat.birth_date %></li>
    <li><%= cat.color %></li>
    <br/>
</ul>
    <% if type == :show %>
        <a href="<%= cats_url %>">Cat Index</a></li>
        <br>
        <a href="<%= cat_url(cat) %>/edit">Edit Cat</a></li>
    <% else %>
        <a href="<%= cat_url(cat) %>"><%= "#{cat.name}'s Index"%></a></li>
    <% end %>
    <br/>
